.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #ff9800;
    width: 100%;
}

.navbar-left a {
    color: #ff9800;
    text-decoration: none;
    margin-right: 1rem;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.wish-button {
    background-color: #ff9800;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1rem;
}

.wish-button:hover {
    background-color: #e68900;
}

/* Toggle 버튼 스타일 */
.toggle-container {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    cursor: pointer;
}

.toggle-switch {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: #ff9800;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.toggle-switch.active {
    left: 33px;
    background-color: #e68900;
}

.toggle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    color: white;
    pointer-events: none;
}