.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.wish-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    /* 세로 스크롤 허용 */
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url('../assets/image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.wish-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3개의 열로 설정 */
    gap: 1.5rem;
    /* 카드 간의 간격 */
    width: 100%;
    margin-bottom: 3rem;
    /* 페이지네이션과의 간격 확보 */
}

.wish-card {
    overflow: hidden;
    border-radius: 0;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.wish-image {
    height: auto;
    max-height: 120px;
    object-fit: contain;
    display: block;
}

/* 특정 높이 설정, 이 높이는 9개가 표시될 수 있는 높이로 조정 */
.wish-list-container {
    max-height: calc(9 * 140px + 4 * 1.5rem);
    /* 9개의 카드 높이와 카드 간의 간격 */
}

/* 페이지네이션 컨테이너 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.pagination button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.pagination button:hover {
    background-color: #0056b3;
    color: white;
}